# Creation of RNA alignments from databases

In [4]:
from pyrna.db import Rfam
rfam = Rfam(use_website = True)
rnas, species, consensus = rfam.get_entry(rfam_id = 'RF00058', nse_labels = 0)

In [14]:
for rna in rnas:
    print rna.name

consensus

AP006878.1/1107433-1107263
BA000001.2/1531413-1531580
AF468962.1/1-168
AJ248284.1/11131-11298

   orientation edge1 edge2  pos1  pos2 non-canonical
0            c     (     )    14    26          True
1            c     (     )    13    27          True
2            c     (     )    12    28          True
3            c     (     )    11    29          True
4            c     (     )    10    30          True
5            c     (     )     9    31          True
6            c     (     )     8    32          True
7            c     (     )    56    66          True
8            c     (     )    55    67          True
9            c     (     )    54    68          True
10           c     (     )    53    69          True
11           c     (     )    51    78          True
12           c     (     )    50    79          True
13           c     (     )    49    80          True
14           c     (     )    48    81          True
15           c     (     )    47    82          True
16           c     (     )    42    94          True
17           c     (     )    41    95          True
18           c     (     )    40    96          True
19           c     (     )    39    97          True
20           c     (     )    38    98          True
21           c     (     )    37    99          True
22           c     (     )    36   100          True
23           c     (     )    35   101          True
24           c     (     )   127   137          True
25           c     (     )   126   138          True
26           c     (     )   125   139          True
27           c     (     )   124   140          True
28           c     (     )   123   142          True
29           c     (     )   122   143          True
30           c     (     )   121   144          True
31           c     (     )   111   154          True
32           c     (     )   110   155          True
33           c     (     )   109   156          True
34           c     (     )   108   157          True
35           c     (     )   107   158          True
36           c     (     )   106   159          True
37           c     (     )   105   160          True